<!-- app/interfaces/web/templates/auth/login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container-tight py-4">
    <div class="card card-md">
        <div class="card-body">
            <h2 class="h2 text-center mb-4">Login to your account</h2>
            <form action="{{ url_for('web_auth.login') }}" method="post" autocomplete="off">
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" placeholder="Your username" required>
                </div>
                <div class="mb-2">
                    <label class="form-label">
                        Password
                        <span class="form-label-description">
                            <a href="#">Forgot password</a>
                        </span>
                    </label>
                    <input type="password" name="password" class="form-control" placeholder="Your password" required>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">Sign in</button>
                </div>
            </form>
        </div>
        <div class="hr-text">or</div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <a href="{{ url_for('web_auth.register') }}" class="btn btn-white w-100">
                        Register new account
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}